{% macro get_node_name(node) -%}
{{ node | regex_replace('\..*$', '') | regex_replace('[^a-z0-9_]', '_') }}
{%- endmacro %}
digraph G {
    graph [layout=dot splines=false overlap=scale]
    
{% for src_group,src_group_props in uss_zx_services.iteritems() %}
    {% for src_host in groups[src_group] | default([]) %}
    {{ get_node_name(src_host) }} [label="{{ src_host }}"]
    {% endfor %}
    {% for dst_group in src_group_props.neighbors | default() %}
        {% for src_host in groups[src_group] | default([]) %}
            {% for dst_host in groups[dst_group] | default([]) %}
    {{ get_node_name(src_host) }} -> {{ get_node_name(dst_host) }}
            {% endfor %}
        {% endfor %}
    {% endfor %}
{% endfor %}
}
