{% from "connection_strings.j2" import get_host_ip with context -%}
{%- macro list_to_discovery_json(host, list_name, key) %}
    {%- set json_data = [] %}
    {%- for elem in hostvars[host][list_name] %}
        {%- set _ = json_data.append({
            key: elem
        }) %}
    {%- endfor -%}
    {%- set json_data = json_data | unique %}
    {%- set res = { "data": json_data } %}
    {{ res | to_json }}
{%- endmacro %}
{%- macro neighbors_discovery_json(host, list_name) %}
    {%- set json_data = [] %}
    {%- for neighbor_group in hostvars[host][list_name] %}
        {%- for neighbor_host in groups[neighbor_group] %}
            {%- for neighbor_port in uss_zx_services[neighbor_group]['ports'] | default([]) %}
                {#- '_host' is a placeholder here, maybe this part needs to be reworked #}
                {%- set _ = json_data.append({
                    "{#HOST}": neighbor_host,
                    "{#IP}": get_host_ip(neighbor_host, '_host'),
                    "{#PORT}": neighbor_port.port,
                    "{#TYPE}": neighbor_port.service,
                }) -%}
            {%- endfor -%}
        {%- endfor -%}
    {%- endfor -%}
    {%- set json_data = json_data | unique %}
    {%- set res = { "data": json_data } %}
    {{ res | to_json }}
{%- endmacro %}
{% for host in ansible_play_hosts  %}
{{ host }} dgis.package.discovery {{ list_to_discovery_json(host, 'uss_zx_packages', "{#PKG_NAME}") }}
{{ host }} dgis.file.discovery {{ list_to_discovery_json(host, 'uss_zx_files', "{#FILENAME}") }}
{{ host }} dgis.neighbor.discovery {{ neighbors_discovery_json(host, 'uss_zx_neighbors') }}
{% endfor %}
