Server={{ zx_server }}
ServerActive={{ zx_server }}
Hostname={{ inventory_hostname }}
PidFile=/var/run/zabbix/zabbix_agentd.pid
LogFile=/var/log/zabbix/zabbix_agentd.log
LogFileSize=32
Include=/etc/zabbix/zabbix_agentd.d/*.conf
