log_format uss_leader_json
    '{'
        '"@timestamp":"$time_iso8601",'
        '"logsource":"$hostname",'
        '"user_ip":"$remote_addr",'
        '"http_status":"$status",'
        '"request_uri":"$request_uri",'
        '"request_method":"$request_method",'
        '"bytes_sent":"$body_bytes_sent",'
        '"request_time":"$request_time",'
        '"request_completion":"$request_completion",'
        '"user_agent":"$http_user_agent",'
        '"request_scheme":"$scheme",'
        '"ssl_proto":"$ssl_protocol",'
        '"ssl_cipher":"$ssl_cipher",'
        '"up_addr":"$upstream_addr",'
        '"up_conn_time":"$upstream_connect_time",'
        '"up_resp_time":"$upstream_response_time",'
        '"up_resp_length":"$upstream_response_length"'
    '}';

server {
    listen {{ uss_leader_dealers_port }} ssl default_server;
    ssl_certificate     {{ uss_ssl_public_cert.path }};
    ssl_certificate_key {{ uss_ssl_private_key.path }};

    default_type application/octet-stream;

    location / {
        alias /var/storage/uss/;
        expires 1m;

        access_log /var/log/nginx/uss-leader.log uss_leader_json buffer=4k flush=10s;
    }
}

server {
    listen 127.0.0.1:8888;
    server_name nginx_status;

    location = /nginx_status {
        stub_status on;
        access_log off;
    }
}

server {
    listen {{ uss_leader_listing_port }} ssl;
    server_name listing;
    ssl_certificate     {{ uss_ssl_public_cert.path }};
    ssl_certificate_key {{ uss_ssl_private_key.path }};

    location / {
        root /var/storage/uss;

        autoindex on;
        autoindex_localtime on;

        # ACL
        allow 127.0.0.0/8;
        allow 172.16.0.0/12;
        allow 192.168.0.0/16;
        allow 10.0.0.0/8;
        deny all;
    }
}
