log_format uss_dealer_json
    '{'
        '"@timestamp":"$time_iso8601",'
        '"logsource":"{{ inventory_hostname }}",'
        '"user_ip":"$remote_addr",'
        '"http_status":"$status",'
        '"request_uri":"$request_uri",'
        '"request_method":"$request_method",'
        '"bytes_sent":"$body_bytes_sent",'
        '"request_time":"$request_time",'
        '"request_completion":"$request_completion",'
        '"cache_status":"$upstream_cache_status",'
        '"user_agent":"$http_user_agent",'
        '"autoupdate":"$http_x_auto_update",'
        '"request_scheme":"$scheme",'
        '"ssl_proto":"$ssl_protocol",'
        '"ssl_cipher":"$ssl_cipher",'
        '"up_addr":"$upstream_addr",'
        '"up_conn_time":"$upstream_connect_time",'
        '"up_resp_time":"$upstream_response_time",'
        '"up_resp_length":"$upstream_response_length"'
    '}';

# Packages caching settings
proxy_cache_path /var/cache/uss levels=1:2 keys_zone=one:10m
                 inactive=60d max_size={{ uss_dealer_cache_size }};
proxy_temp_path /var/cache/tmp 1 2;

upstream uss_leader_upstream {
{% for uss_leader in groups['uss-leaders'] | sort %}
    server {{ uss_leader }}:{{ uss_leader_dealers_port }};
{% endfor %}
    keepalive 32;
}

server {
    listen *:80;
    listen [::]:80;
    listen 443 ssl;
    ssl_certificate     {{ uss_ssl_public_cert.path }};
    ssl_certificate_key {{ uss_ssl_private_key.path }};

    default_type application/octet-stream;

    location / {
        proxy_cache one;
        proxy_cache_use_stale error updating timeout;
        proxy_pass https://uss_leader_upstream;

        access_log /var/log/nginx/uss-dealer.log uss_dealer_json buffer=4k flush=10s;
    }
}

server {
    listen 127.0.0.1:8888;
    server_name nginx_status;

    location = /nginx_status {
        stub_status on;
        access_log off;
    }
}
