{#
Determines hostname of given host in the following order:
  1. dedicated_variable_name (e.g. 'validator_host') - is used for overriding purposes
  2. ansible_host
  3. inventory_hostname
Calculated hostname is tried to resolve. If resolving is faled, error is thrown.
Resolved IP address is returned otherwise.

get_host_ip(inventory_hostname, 'example_host') is used on hosts from the following inventory:
  [example-group]
  host1.example.com # 'host1.example.com' is resolved and result is returned
  host2 ansible_host=host2.example.com # 'host2.example.com' is resolved and result is returned
  host3 ansible_host=host3.example.com example_host=localhost # 127.0.0.1 is returned
#}
{% macro get_host_ip(host_inventory_hostname, dedicated_variable_name) -%}
    {%- set host_host = hostvars[host_inventory_hostname][dedicated_variable_name] | default(
                               hostvars[host_inventory_hostname]['ansible_host'] |
                                 default(host_inventory_hostname)) %}
    {%- if host_host in ['localhost', '127.0.0.1'] %}
        {%- set host_address = '127.0.0.1' %}
    {%- elif hostvars[host_inventory_hostname]['ansible_connection'] is defined and hostvars[host_inventory_hostname]['ansible_connection'] == 'lxd' %}
        {%- set lxd_container_info = lookup('pipe', 'lxc list --format json ' + hostvars[host_inventory_hostname]['ansible_host'] | default(host_inventory_hostname) + '$') | from_json %}
        {%- set host_address = lxd_container_info | json_query("[*].state.network.eth0.addresses[?family=='inet'].address") | first | first %}
    {%- elif host_host | ipv4 %}
        {%- set host_address = host_host %}
    {%- else %}
        {%- set host_address = lookup('dig', host_host) %}
    {%- endif %}
    {%- if host_address | ipv4 %}
      {%- set is_valid_ipv4 = True %}
    {%- endif %}
    {#- if it cannot determine valid IPv4 address for host, it will fail with "Mandatory variable not defined" #}
    {%- set _ = is_valid_ipv4 | mandatory %}
    {{- host_address }}
{%- endmacro -%}
{#
Returns comma-separated list of 'host':'port' pairs.

get_connection_string('example-group', 'example_host', 8080) will return '192.0.2.1:8080,192.0.2.2:8080,127.0.0.1:8080'
if used on the following inventory:
  [example-group]
  host1.example.com # resolves to 192.0.2.1
  host2 ansible_host=host2.example.com # resolves to 192.0.2.2
  host3 ansible_host=host3.example.com example_host=localhost
#}
{% macro get_connection_string(group_name, dedicated_variable_name, port) -%}
  {%- set res = [] %}
  {%- for member_inventory_hostname in groups[group_name] %}
    {%- set _ = res.append(get_host_ip(member_inventory_hostname, dedicated_variable_name) + ':' + port | string) %}
  {%- endfor %}
  {{- (',').join(res) }}
{%- endmacro -%}
